<ng-template [ngIf]="loggedin == true">
    <app-header></app-header>
    <div class="container mt-5" >
       
        <div class="row" *ngIf="loggedin == true">

            <div class="col-xxl-12 col-xl-12  col-md-12 col-sm-12 col-xs-12 col-12">
                <router-outlet></router-outlet>
            </div>
        </div>
        
    </div>
    
    <app-footer></app-footer>
</ng-template>
<ng-template [ngIf]="loggedin == false">
    <div class="row" *ngIf="loggedin == false">
      
        <div class="col-xxl-12 col-xl-12  col-md-12 col-sm-12 col-xs-12 col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</ng-template>
