<div class="right">
    <div class="row">
        <div class="col-12">
            <h4>Messages</h4>
            <span>edit</span>
        </div>
        <div class="col-12 mt-2">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </div>
        <div class="col-4 mt-2">
            <h4 class="fs-18 active">Primary</h4>
        </div>
        <div class="col-4 mt-2">
            <h4 class="fs-18">General</h4>
        </div>
        <div class="col-4 mt-2">
            <h4 class="fs-18">Request</h4>
        </div>
    </div>
    <!--profile message-->
    <div class="ovr-scroll">
        <div class="row pa-1">
            <div class="col-3 ">
                <div class="">
                    <img src="../../../assets/img/cam.jpg" class="profile-img"  />
                    
                </div>
               
            </div>
            <div class="col-9">
                <label class="fs-13 font-bold ">Dilli Babu </label><span class="online"></span>
                <p class="usr-name">Just do it bruh</p>
            </div>
        </div>
        <div class="row pa-1">
            <div class="col-3 ">
                <div class="">
                    <img src="../../../assets/img/cam.jpg" class="profile-img"  />
                </div>
               
            </div>
            <div class="col-9">
                <h4 class="fs-13 font-bold">Dilli Babu</h4>
                <p class="usr-name">Just do it bruh</p>
            </div>
        </div>
        <div class="row pa-1">
            <div class="col-3 ">
                <div class="">
                    <img src="../../../assets/img/cam.jpg" class="profile-img"  />
                </div>
               
            </div>
            <div class="col-9">
                <h4 class="fs-13 font-bold">Dilli Babu</h4>
                <p class="usr-name">Just do it bruh</p>
            </div>
        </div>
        <div class="row pa-1">
            <div class="col-3 ">
                <div class="">
                    <img src="../../../assets/img/cam.jpg" class="profile-img"  />
                </div>
               
            </div>
            <div class="col-9">
                <h4 class="fs-13 font-bold">Dilli Babu</h4>
                <p class="usr-name">Just do it bruh</p>
            </div>
        </div>
        <div class="row pa-1">
            <div class="col-3 ">
                <div class="">
                    <img src="../../../assets/img/cam.jpg" class="profile-img"  />
                </div>
               
            </div>
            <div class="col-9">
                <h4 class="fs-13 font-bold">Dilli Babu</h4>
                <p class="usr-name">Just do it bruh</p>
            </div>
        </div>
    </div>
    
    <!--profile message-->
</div>