<div class="row">
        <div class="col-xxl-3 col-xl-3  col-md-3 col-sm-3 col-xs-0 col-12 d-none d-md-block">
                <div class="left">
                        <div class="profile" (click)="route_change('profile')">
                                <div class="">
                                        <img src="../../../assets/img/cam.jpg" class="profile-img" />
                                </div>
                                <div class="handle">
                                        <h4>Dilli Babu</h4>
                                        <p class="usr-name">@Dilli</p>
                                </div>
                        </div>
                </div>
                <div class="side-nav  row">
                        <div class="col-12 menu-item {{homeactive}}" (click)="route_change('home')">
                                <span><i class="fas fa-home   mar-r-1"></i></span> <label>Home</label>
                        </div>
                        <div class="col-12 menu-item {{exploreactive}}" (click)="route_change('explore')">
                                <span><i class="fas fa-compass   mar-r-1"></i>
                                </span> <label>Explore</label>
                        </div>
                        <div class="col-12 menu-item {{notificationactive}}" (click)="route_change('notification')">
                                <span><i class="fas fa-bell   mar-r-1"></i></span> <label>Notifications</label>
                        </div>
                        <div class="col-12 menu-item {{messageactive}}" (click)="route_change('message')">
                                <span><i class="fab fa-facebook-messenger   mar-r-1"></i>
                                </span> <label>Messages</label>
                        </div>
                        <div class="col-12 menu-item {{createactive}}" (click)="route_change('Create_post')">
                                <span><i class="fas fa-plus-circle  mar-r-1"></i>
                                </span> <label>Create Post</label>
                        </div>
                        <div class="col-12 menu-item {{analyticsactive}}" (click)="route_change('analytics')">
                                <span><i class="fas fa-home   mar-r-1"></i></span> <label>Analytics</label>

                        </div>

                </div>
        </div>
        <div class="col-xxl-9 col-xl-9  col-md-9 col-sm-9 col-xs-12 col-12">
                <div *ngIf="action =='home'">
                        <div class="feed" *ngFor="let feed of feeds_data">
                                <div class="row mb-2">
                                        <div class="col-12 d-flex">
                                                <div class="pro-img">
                                                        <img src="{{feed.profile_img}}" class="profile-img" />
                                                </div>
                                                <div>
                                                        <h4 class="fs-18 ls-1 font-weight-bold">{{feed.name}}</h4>
                                                        <small>Toronto, 19 MINUTES AGO</small>
                                                </div>
                                        </div>
                                        <div class="col-12 mt-2">
                                                <img src="{{feed.post}}" width="100%" class="photo" />
                                        </div>
                                        <div class=" col-12">
                                                <div class="row pad-l-1">
                                                        <div class="col-1">
                                                                <i class="far fa-heart   mar-r-1"></i>
                                                        </div>
                                                        <div class="col-1">
                                                                <i class="far fa-comment   mar-r-1"></i>
                                                        </div>
                                                        <div class="col-1">
                                                                <i class="fas fa-location-arrow    mar-r-1"></i>
                                                        </div>
                                                        <div class="col-9">

                                                        </div>
                                                </div>
                                        </div>
                                        <div class=" col-12">
                                                <p>Liked by capbeautydaily and 8,935 others</p>
                                        </div>
                                        <div class=" col-12">
                                                <p><b>Georgina Cambel</b> Lorem ipsum, dolor sit amet consectetur. <span
                                                                class="hashtag">#lifestyle</span>
                                                </p>
                                        </div>
                                        <div class=" col-12">
                                                <p class="txt-mute">View all 277 comments</p>
                                        </div>
                                </div>
                        </div>
                </div>

                <div *ngIf="action =='explore'">
                        <div class="profile container">
                                <div class="row">
                                        <div class="col-12">
                                                <div style="margin-top: 3rem;">
                                                        <h3 class="txt-mute">Coming soon</h3>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>

                <div *ngIf="action =='notification'">
                        <div class="profile container">
                                <div class="row">
                                        <div class="col-12">
                                                <div style="margin-top: 3rem;">
                                                        <h3 class="txt-mute">Coming soon</h3>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>

                <div *ngIf="action =='message'">
                        <div class="profile container">
                                <div class="row">
                                        <div class="col-12">
                                                <div style="margin-top: 3rem;">
                                                        <h3 class="txt-mute">Coming soon</h3>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>

                <div *ngIf="action =='Create_post'">
                        <div class="post container">

                                <div class="col-12 animation_content" *ngIf="imageshow == 0">
                                        <div class="row" class="upload_outlet">
                                                <diV class="col-4 text-xs-center">
                                                        <svg class="upload-icon" viewBox="0 0 24 24" width="24px"
                                                                height="24px" aria-hidden="true">
                                                                <g fill="none" stroke="hsl(223,90%,50%)"
                                                                        stroke-width="2" stroke-linecap="round"
                                                                        stroke-linejoin="round">
                                                                        <circle class="modal__icon-sdo69" cx="12"
                                                                                cy="12" r="11"
                                                                                stroke-dasharray="69.12 69.12"></circle>
                                                                        <polyline class="modal__icon-sdo14"
                                                                                points="7 12 12 7 17 12"
                                                                                stroke-dasharray="14.2 14.2"></polyline>
                                                                        <line class="modal__icon-sdo10" x1="12" y1="7"
                                                                                x2="12" y2="17"
                                                                                stroke-dasharray="10 10"></line>
                                                                </g>
                                                        </svg>
                                                </diV>
                                                <diV class="col-8 text-xs-center">
                                                        <div>
                                                                <label class="upload_title">Upload a File</label>
                                                        </div>
                                                        <div>
                                                                <label class="upload_message">Select a file to upload
                                                                        from your computer or device.</label>
                                                        </div>
                                                        <diV class="upload_action">
                                                                <button class=" btn  upload-button upload-button-upload"
                                                                        type="button" data-action="file">Choose
                                                                        File</button>
                                                                <input class="upload-file"
                                                                        (change)="onFileSelected($event)" id="file"
                                                                        type="file" />
                                                        </diV>
                                                </diV>
                                        </div>

                                </div>

                                <div class="col-12 animation_content" *ngIf="imageshow == 1">
                                        <div class="avatar-preview">
                                                <img [src]="imageUrl" class="post-preview" />
                                        </div>
                                        <div class="modal__actions mar-t-3" style="display: flex;">
                                                <svg class="close_btn" viewBox="0 0 24 24" width="24px" height="24px"
                                                        aria-hidden="true">
                                                        <g fill="none" stroke="currentColor" stroke-width="2"
                                                                stroke-linecap="round" stroke-linejoin="round">
                                                                <polygon points="4 1 12 1 20 8 20 23 4 23">
                                                                </polygon>
                                                                <polyline points="12 1 12 8 20 8">
                                                                </polyline>
                                                        </g>
                                                </svg>
                                                <div class="file_txt" data-file="">{{selectedFile[0].name}}</div>
                                                <span>
                                                        <svg class="close_btn" viewBox="0 0 16 16" width="16px"
                                                                height="16px" aria-hidden="true">
                                                                <g fill="none" stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round">
                                                                        <polyline points="4,4 12,12">
                                                                        </polyline>
                                                                        <polyline points="12,4 4,12">
                                                                        </polyline>
                                                                </g>
                                                        </svg>
                                                </span>
                                                <!-- <button class="modal__button" type="button"
                                                        data-action="upload">Upload</button> -->
                                        </div>

                                        <div style="width: 100%;" class="show_recurter mar-t-3">
                                                <mat-label style="width: 100%"
                                                        class="file_txt mt-2">Descripition</mat-label>
                                                <mat-form-field class="w-100" appearance="outline">
                                                        <textarea style="width: 100% ;min-height: 15vh" matInput type="text"
                                                        [(ngModel)]="desc" placeholder="Descripition">
                                                    </textarea>
                                                </mat-form-field>
                                        </div>
                                        <div class="mar-t-3 ">
                                                <button style="width: 100%" (click)="create_post()"
                                                        class="btn btn-primary">Create Post</button>
                                        </div>
                                </div>

                        </div>
                </div>

                <div *ngIf="action =='analytics'">
                        <div class="profile container">
                                <div class="row">
                                        <div class="col-12">
                                                <div style="margin-top: 3rem;">
                                                        <h3 class="txt-mute">Coming soon</h3>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>