<nav class="navbar box-mob-shw navbar-expand-lg bg-body-tertiary header over_flw_mob_x">
  <div class=" col-12">
    <div class="row" style="width: 100% !important;  padding: 0px 10px 0px 10px;">
      
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-8 col-8">
        <span class="mob_display_none"><i (click)="handleSidebarToggle()" class="fa fa-bars fs-24 cursor" style="margin-right: 20px;" aria-hidden="true"></i></span>
        <a class="navbar-brand" href="#">
          <img src="../../../assets/img/photogram-logo.png" width="75%"/>
        </a>
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-0 col-12 d-none d-md-block" >
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-2 col-2">


        <div ngbDropdown class="dropdown">
          
          <div class="" style="float: right;" id="dropdownMenuButton1" aria-expanded="true" ngbDropdownToggle>
            <img *ngIf="profile_img ==''" src="../../../assets/img/cam.jpg" class="profile-img" />
            <img *ngIf="profile_img !=''" src="{{profile_img}}" class="profile-img" />
          </div>
          <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
            <li (click)="route_change()"><a  ngbDropdownItem >Account</a></li>
            <li><a ngbDropdownItem (click)="logout()">Log Out</a></li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>


