/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* // regular style toast */
@import 'ngx-toastr/toastr';



@font-face {
    font-family: normal_ff;
    src: url(../src/assets/Fonts/Poppins/Poppins-Medium.ttf);

}

@font-face {
    font-family: sidenav_ff;
    src: url(../src/assets/Fonts/Mallanna/Mallanna-Regular.ttf);
}

@font-face {
    font-family: bold_ff;
    src: url(../src/assets/Fonts/Poppins/Poppins-Bold.ttf);
    font-weight: bold;
}


.normal_ff {
    font-family: normal_ff !important;
}

.sidenav_ff {
    font-family: sidenav_ff !important;
}

.bold_ff {
    font-family: bold_ff !important;
}

.fs-10 {
    font-size: 10px !important;
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fs-19 {
    font-size: 19px;
}

.fs-20 {
    font-size: 20px;
}

.fs-21 {
    font-size: 21px;
}

.fs-22 {
    font-size: 22px;
}

.fs-23 {
    font-size: 23px;
}

.fs-24 {
    font-size: 24px;
}

body {
    background: red;
}

.cursor {
    cursor: pointer
}

.btn-primary {
    background-color: #6e989e !important;
    color: #fff;
    border: unset !important;
}

.btn-primary:hover {
    background-color: #339a8b !important;
}

.profile-img {
    overflow: hidden;
    width: 50px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.mt-2 {
    margin-top: 1rem !important;
}

.txt-mute {
    color: hsl(253.6, 11.6%, 62.7%);
}

.fs-18 {
    font-size: 18px !important;
}

.ls-1 {
    letter-spacing: 1px !important;
}

.font-weight-bold {
    font-weight: bold !important;
}

.text-center {
    text-align: center !important;
}

/* .nav-tabs.nav-link.active {
    border-color: unset !important;
    border-bottom: 1px solid green !important;
} */

.mar-r-1 {
    margin-right: .5rem;
}

.primary {
    background: #339a8b !important;
    color: #fff !important;
}

.primary:hover {
    background: #168271 !important;
    color: #fff !important;
}

#toast-container>.toast-info {
    background-color: #263238;
    color: #fff;
}



/* for mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .content {
        margin-left: 0px !important;
        transition: 0.3s;

        &.sidebarExpanded {
            margin-left: 0px !important;
        }
    }

    .box-mob-shw {
        box-shadow: 1px 1px 9px 1px #c6bfbf !important;
    }

    .mob_display_none {
        display: none !important;
    }

    .mob_over_scroll {
        overflow: scroll !important;
    }


    .over_flw_mob {
        scroll-behavior: unset !important;
        overflow: hidden !important;
    }

    .over_flw_mob_x {
        overflow-x: hidden !important;
    }

    .over_flw_mob_y {
        overflow-y: hidden !important;
    }

    .feed_no {
        background: #fff;
        border-radius: 20px;
        padding: 1rem;
        margin: 0rem 0 !important;
        font-size: -38.1rem;
        line-height: 1.5;
        min-height: 70 vh !important;
        max-height: 70vh !important;
    }

    .mob_fs_26 {
        font-size: 26px !important;
    }

    .mob_disply_block {
        display: block !important;
    }

    .mob_w_100 {
        width: 100% !important;
    }

    .mob-mt-123 {
        margin-top: -123% !important;
    }

    .mob_edit_profile {
        width: 100% !important;
        margin-left: 0rem !important;
        margin-top: 10px !important;
    }
    .min_hight_100vh{
        min-height: 100vh !important;
    }
    .email-send-outlet{
        margin: 0% !important;
    }
}

/* for tab */
@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {}

/* for laptop */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

/* for desktop */
@media only screen and (min-device-width : 1025px) and (max-device-width : 1200px) {
    .web_display_hide {
        display: none !important;
    }
}

@media screen and (min-width: 1200px) {
    .web_display_hide {
        display: none !important;
    }
}