/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* // regular style toast */
@import 'ngx-toastr/toastr';



@font-face {
    font-family: normal_ff;
    src: url(../src/assets/Fonts/Poppins/Poppins-Medium.ttf);

}

@font-face {
    font-family: sidenav_ff;
    src: url(../src/assets/Fonts/Mallanna/Mallanna-Regular.ttf);
}

@font-face {
    font-family: bold_ff;
    src: url(../src/assets/Fonts/Poppins/Poppins-Bold.ttf);
    font-weight: bold;
}


.normal_ff{
    font-family: normal_ff !important;
}

.sidenav_ff{
    font-family: sidenav_ff !important;
}

.bold_ff{
    font-family: bold_ff !important;
}

.fs-10 {
    font-size: 10px;
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fs-19 {
    font-size: 19px;
}

.fs-20 {
    font-size: 20px;
}

body {
    background: red;
}

.btn-primary {
    background-color: #6e989e !important;
    color: #fff;
    border: unset !important;
}

.btn-primary:hover {
    background-color: #339a8b !important;
}

.profile-img {
    overflow: hidden;
    width: 50px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.mt-2 {
    margin-top: 1rem !important;
}

.txt-mute {
    color: hsl(253.6, 11.6%, 62.7%);
}

.fs-18 {
    font-size: 18px !important;
}

.ls-1 {
    letter-spacing: 1px !important;
}

.font-weight-bold {
    font-weight: bold !important;
}

.text-center {
    text-align: center !important;
}

/* .nav-tabs.nav-link.active {
    border-color: unset !important;
    border-bottom: 1px solid green !important;
} */

.mar-r-1 {
    margin-right: .5rem;
}