<div class="container profile">
    <div class="row">
        <div class="col-12">
            <div class="row" class="chat_bg">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 col-6 ">
                    <span>
                        <img src="../../assets/img/3d image.png" class="profileimg" />
                    </span>
                    <label style="margin-left: 1rem;" class="bold_ff fs-13">Dilli Babu</label>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 mt-4rm">
                    <label class="bold_ff fs-13 flt-rgt">back</label>
                </div>
                <div class="col-12 message_bg">
                    <div class="row">
                        <ul class="chat-thread">
                            <li>Are we meeting today?</li>
                            <li>yes, what time suits you?</li>
                            <li>I was thinking after lunch, I have a meeting in the morning</li>
                            <li>Are we meeting today?</li>
                            <li>yes, what time suits you?</li>
                            <li>I was thinking after lunch, I have a meeting in the morning</li>
                            <li>Are we meeting today?</li>
                            <li>yes, what time suits you?</li>
                            <li>I was thinking after lunch, I have a meeting in the morning</li>
                            <li>Are we meeting today?</li>
                            <li>yes, what time suits you?</li>
                            <li>I was thinking after lunch, I have a meeting in the morning</li>
                            <li>Are we meeting today?</li>
                            <li>yes, what time suits you?</li>
                            <li>I was thinking after lunch, I have a meeting in the morning</li>
                            <li>Are we meeting today?</li>
                            <li>yes, what time suits you?</li>
                            <li>I was thinking after lunch, I have a meeting in the morning</li>
                            <li>Are we meeting today?</li>
                            <li>yes, what time suits you?</li>
                            <li>I was thinking after lunch, I have a meeting in the morning</li>
                            <li>Are we meeting today?</li>
                            <li>yes, what time suits you?</li>
                            <li>I was thinking after lunch, I have a meeting in the morning</li>
                            <li>Are we meeting today?</li>
                            <li>yes, what time suits you?</li>
                            <li>I was thinking after lunch, I have a meeting in the morning</li>
                            <li>Are we meeting today?</li>
                            <li>yes, what time suits you?</li>
                            <li>I was thinking after lunch, I have a meeting in the morning</li>
                            <li>Are we meeting today?</li>
                            <li>yes, what time suits you?</li>
                            <li>I was thinking after lunch, I have a meeting in the morning</li>
                        </ul>
                    </div>

                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-10">
                            <form class="chat-window">
                                <input [(ngModel)]="message" class="chat-window-message form-control"
                                    name="chat-window-message" type="text" autocomplete="off" autofocus />
                            </form>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-light send_btn " (click)="sendmessage()">Send</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-12">

        </div>
        <div class="col-12">

        </div>
    </div>

</div>